@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if (Model.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><td>Movie</td></tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr><td>@movie.Name</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <text>There aren't any movies yet</text>
}

