@{
    ViewBag.Title = "Active Rentals";
}

<h2>Active Rentals</h2>
<p>
    <a href="Rentals/New" class="btn btn-primary">New Rental</a>
</p>
<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Movie</th>
            <th>Date Rented</th>
            <th>Date Returned</th>
            <th>Return</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#rentals").DataTable({
                ajax: {
                    url: "/api/rentals/active",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customerName"
                    },
                    {
                        data: "movieName"
                    },
                    {
                        data: "dateRented"
                    },
                    {
                        data: "dateReturned"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-return' data-rental-id='" + data + "'>Return</button>"
                        }
                    }
                ]
            });

            table.order([2, "asc"]).draw();

            $("#rentals").on("click", ".js-return", function () {
                var button = $(this);
                var rental = table.row(this.parentElement).data();
                console.log(rental)

                bootbox.confirm("Are you sure you want to return this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/rentals/" + button.attr("data-rental-id"),
                            method: "PUT",
                            data: JSON.stringify(rental),
                            contentType: 'application/json',
                            success: function () {
                                toastr.success("Rental successfully returned");
                                table.ajax.reload().draw();
                            }
                        });
                    }
                });
            })
        });
    </script>
}